#contact {
    padding: 60px 0;
}

.contact {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-text h6 {
    font-weight: 500;
    font-size: 18px;
}

.contact-text p {
    font-weight: 300;
    font-size: 18px;
    color: #263238;
}

.contact-email {
    display: flex;
    flex-direction: column;

}

.contact-email a {
    font-weight: 300;
    font-size: 18px;
    color: #263238;
}

.contact-email h3 {
    font-weight: 500;
    font-size: 24px;
    color: #263238;
}

#footer {
    background: #EE4248;
    height: 64px;
}

.footer p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
@media (max-width: 769px) {
    .contact {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}