* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
}

span {
    color: #EE4248;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .25s;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
ul li{
    margin-left: 0.75em;
    margin-right: 0.75em;
    list-style: none;
}
ul select{
    border: none;
    outline: none;
}
ul:hover a{
    color: #575757;
}
ul:hover a:hover {
    color: #EE4248;
    box-shadow: 0 2px 0 0 currentColor;
}

#header {
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;

}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    font-weight: 400;
    font-size: 18px;
    color: black;
    transition: .5s;
    margin: 0 10px;
}

.header-nav a:focus {
    color: rgba(239, 40, 40, 0.93);
    transition: .5s;
}

.header-nav select {
    border: none;
    outline: none;
}

.header-nav option {
    border: 2px solid red;
}

.header-icons ion-icon {
    align-items: center;
    padding: 0 5px;
}

/*  BURGER MENU */
.burger-menu {
    display: none;

}

.burger-item {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: .5s;
    background: #EE4248;
    cursor: pointer;
}


@media (max-width: 769px) {
    .burger-menu {
        display: block;
        z-index: 99;
    }


    .burger-item {
        overflow: hidden;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 100px 70px 100px;
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(54, 52, 52, 0.91);
        backdrop-filter: blur(6px);
        transform: translateX(100%);
        transition: .6s;
    }

    .header-nav a {
        margin: 20px 0;
        color: #FFFFFF;
        text-align: start;
    }

    .header-icons {
        margin: 10px 0 0 48%;
    }

    select {
        display: none;
    }

}